# Versiones de los contenedores
PHP_VERSION=8.3
ALPINE_VERSION=3.19
MARIADB_VERSION=10.11
REDIS_VERSION=7.2
PHPMYADMIN_VERSION=latest
PHPREDISADMIN_VERSION=latest
NGINX_VERSION=mainline
HTTPS_PORTAL_VERSION=1

# Variables de configuración
MYSQL_ROOT_PASSWORD=12345Abcde
MYSQL_DATABASE=dwes_relationships
MYSQL_USER=dwes_relationships
MYSQL_PASSWORD=12345Abcde

# Prefijo para los contenedores
COMPOSE_PROJECT_NAME=dwes_relationships

# Sitios web
HTTPS_PORTAL_SITES=proyecto.test -> http://nginx:80, phpmyadmin.proyecto.test -> http://phpmyadmin:80,
HTTPS_PORTAL_STAGE=local
